<!-- <ion-header>
  <ion-toolbar>
    <ion-title>berhasil</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="item-body">
    <img src="assets/imgs/goku.png" alt="">
    <ion-list>
      <p>Engginer</p>
      <h1>Anhony Dale</h1>
    </ion-list>
    <div class="list">
      <ion-list>
        <h2>Good job Anthony</h2>
        <h3>i like your sevice </h3>
      </ion-list>
    </div>

  </div>

  <div class="background">
    <input (click)="next()" type="submit" name="login" value="Submit"><br>
  </div>
</ion-content>