<ion-content>
  <div class="background-wave">
    <div class="back">
      <div class="colom">
        <ion-icon name="caret-back"></ion-icon>
        <h1>Hi Fix</h1>
      </div>
    </div>

    <div class="search">
      <ion-searchbar showCancelButton="never"></ion-searchbar>
      <img src="assets/icon/adjust.png" alt="">
    </div>



    <div class="background-wrapper">
      <div class="font">
        <h1>Our Device</h1>
      </div>
      <!--list-menu-->

      <div class="list">
        <ion-list>
          <h1>Ac Service</h1>
          <img src="assets/imgs/polytron_pac-18vxm.jpg" alt="">
        </ion-list>
        <ion-list>
          <h1>Fan Service</h1>
          <img src="assets/imgs/kipas.jpg" alt="">
        </ion-list>
        <ion-list>
          <h1>Laptop Service</h1>
          <img src="assets/imgs/polytron_pac-18vxm.jpg" alt="">
        </ion-list>
        <ion-list>
          <h1>Furnitur Service</h1>
          <img src="assets/imgs/kipas.jpg" alt="">
        </ion-list>
        <ion-list>
          <h1>Telepon Service</h1>
          <img src="assets/imgs/polytron_pac-18vxm.jpg" alt="">
        </ion-list>
        <ion-list>
          <h1>Car Service</h1>
          <img src="assets/imgs/kipas.jpg" alt="">
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>