<ion-content [fullscreen]="true">
  <div class="background-wrapper">
    <div class="foto">
      <img src="assets/imgs/goku.png" alt="">
    </div>
    <div class="text">
      <h1>Hi Smitty</h1>
      <h2>Need A Help?</h2>
    </div>
    <ion-searchbar showCancelButton="never"></ion-searchbar>

  </div>

  <div class="kuota">
    <ion-slides>
      <div class="column">
        <ion-list class="banner">
          <img src="assets/icon/email.png" alt="">
          <h1>Massage</h1>
        </ion-list>
      </div>
      <div class="column">
        <ion-list class="banner">
          <img src="assets/icon/shine.png" alt="">
          <h1>Clean</h1>
        </ion-list>
      </div>
      <div class="column">
        <ion-list class="banner">
          <img src="assets/icon/repair.png" alt="">
          <h1>Repair</h1>
        </ion-list>
      </div>
      <div class="column">
        <ion-list class="banner">
          <img src="assets/icon/gear.png" alt="">
          <h1>Autorize</h1>
        </ion-list>
      </div>
    </ion-slides>
  </div>

  <div class="all">
    <div class="font">
      <h1>Our Serveice</h1>
    </div>
    <div class="font">
      <h2>View All</h2>
    </div>
  </div>

  <div class="list">
    <ion-list>
      <h1>Ac Service</h1>
      <img src="assets/imgs/polytron_pac-18vxm.jpg" alt="">
    </ion-list>
    <ion-list>
      <h1>Fan Service</h1>
      <img src="assets/imgs/kipas.jpg" alt="">
    </ion-list>
  </div>

  <div class="font1">
    <h1>Hi News</h1>
  </div>

  <div class="menu">
    <ion-list>
      <img src="assets/imgs/truck.png" alt="">
      <h2>Hi Send
        Have a problem with shoping goods?
      </h2>
    </ion-list>
  </div>
</ion-content>