ion-content {
  --background: #4040b6;

  .shape1 {
    width: 83px;
    height: 83px;
    margin-top: 18rem;
    position: relative;
    background: black;
    border-radius: 12px;
    bottom: 18rem;
    opacity: 0.4;
  }

  .shape2 {
    width: 30px;
    height: 30px;
    background: black;
    opacity: 0.3;
    position: relative;
    left: 7rem;
    bottom: 13rem;
    border-radius: 12px;
  }

  .shape3 {
    width: 40px;
    position: relative;
    left: 17rem;
    bottom: 15rem;
    height: 40px;
    background: black;
    border-radius: 12px;
    opacity: 0.3;
  }

  .shape4 {
    width: 45px;
    height: 45px;
    background: black;
    opacity: 0.3;
    position: relative;
    left: 9rem;
    bottom: 15rem;
    border-radius: 12px;
  }

  .shape5 {
    width: 30px;
    height: 30px;
    background: black;
    opacity: 0.3;
    position: relative;
    left: 9rem;
    bottom: 10rem;
    border-radius: 12px
  }

  .shape6 {
    width: 55px;
    width: 55px;
    height: 54px;
    background: black;
    opacity: 0.3;
    position: relative;
    left: 16rem;
    bottom: 13rem;
    border-radius: 12px;
  }

  .shape7 {
    width: 83px;
    height: 83px;
    background: black;
    opacity: 0.3;
    position: relative;
    left: 21rem;
    border-radius: 12px;
    top: 6rem;

  }

  .list {
    ion-list {
      margin-right: 16rem;
      margin-left: 41px;
      position: relative;
      border-radius: 12px;
      bottom: 27rem;
      padding: 1px;
      left: 8rem;
      -webkit-transform: rotate(30deg);
      transform: rotate(5deg);
    }

    h1 {
      text-align: center;
      font-size: 61px;
      color: steelblue;
      -webkit-transform: rotate(20deg);
      transform: rotate(-14deg);
      font-weight: bold;
      font-family: sans-serif;
    }
  }

  .item {
    position: absolute;
    bottom: 9rem;
    left: 6rem;

    .column {}

    h1 {
      color: white;
      text-align: center;
      font-weight: bold;
      font-size: 22px;
      line-height: 17px;

    }
  }

  .tombol {
    margin-left: 10rem;
    position: absolute;
    bottom: 4rem;

    ion-button {
      --background: white;
      color: mediumpurple;
    }

    h1 {
      font-size: 20px;
      text-align: center;
      margin-top: 10px;
      color: blue;
    }
  }


}